.header{
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    padding-inline: 1.25rem;
}

.header a{
    font: var(--headLine5);
    color: var(--white);
    text-decoration: none;
}

.header-links{
    display: flex;
    gap: 2.5rem;
}
.header-links a{
    font: var(--button);
    /* color: var(--grey); */
}
.header-links a:active{
    color: var(--white);
}


.header nav{
    position: relative;
}


#underLine{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--white);
    left: 0;
    bottom: -1rem;
    transition: 0.5s ease;
}
