.hero{
    grid-column: 1 / -1;
    grid-row-start: 1;
    block-size: 814px;
    background-image: url(../image/bg-image.png);
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: var(--headLine3);
    color: var(--white);
    margin: 0;
    gap: 1.5rem;
    margin-inline-start: 1.875rem;
}


.hero-content p{
    margin: 0;
}
.hero-content span{
    font: var(--body1-regular);
    color: var(--grey);
    max-inline-size: 36.25rem;
}
.hero-content span:nth-of-type(2){
    text-decoration: underline;
}

.hero-content button{
    margin-block-start: 1.5rem;
}