@import './header.css';
@import './hero.css';
@import './press.css';
@import './transaction.css';
@import './track-packages.css';
@import './sticky.css';
@import './button.css';
@import './login.css';
@import './folks.css';
@import './footer.css';



:root{
    --baseFontFamily: 'inter';
    --headLine1: bold 2.875rem/3.5rem var(--baseFontFamily);
    --headLine2: bold 3rem/3.625rem var(--baseFontFamily);
    --headLine3: bold 2.875rem/3.5rem var(--baseFontFamily);
    --headLine4: bold 1.75rem/2.125rem var(--baseFontFamily);
    --headLine5: bold 1.5625rem/1.875rem var(--baseFontFamily);
    --body1-bold: bold 1.125rem/1.6875rem var(--baseFontFamily);
    --body1-regular: normal 1.125rem/1.6875rem var(--baseFontFamily);
    --body2-bold: bold 1rem/1.1875rem var(--baseFontFamily);
    --body2-regular: normal 1rem/1.375rem var(--baseFontFamily);
    --button: bold 1.125rem/1.75rem var(--baseFontFamily);
    --caption: normal 0.75rem/1.375rem var(--baseFontFamily);
    --black: #000000;
    --primary: #FED941;
    --grey: #808080;
    --white: #FFFFFF;
    --phoneInlineSize: 400px;
    --gridTemplateColumns: 1fr var(--phoneInlineSize) 1000px 1fr;
    
}


body{
    margin: 0;
    font: var(--body1-regular);
}

body h2{
    font: var(--headLine2);
    margin: 0;
}
body h4{
    font: var(--headLine5);
    margin: 0;
    color: white;
}
body h5{
    font: var(--button);
    margin: 0;
    color: white;
}

body span{
    color: var(--grey);
}


.grid{
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    grid-template-areas: 'wrapper-start phone content wrapper-end';
}


@media screen and (max-width: 1400px){
    :root{
        --phoneInlineSize: 300px;
        --gridTemplateColumns: auto var(--phoneInlineSize) 1fr auto;
    }
}

@media screen and (max-width: 1000px){
    :root{
        --phoneBlockSize: 500px;
        --gridTemplateColumns: auto auto 1fr auto;
    }
    body h2{
        font: var(--headLine5);
    }
    body span{
        font: var(--body2-regular);
    }
    .grid{
        display: block;
    }
    .hero{
        block-size: auto;
        padding-block: 50px;
        grid-row-start: initial;
        padding-block-end: calc(var(--phoneBlockSize) / 2 + 3rem);
    }
    /* .hero-content{
        display: initial;
    } */
    .hero-content button{
        margin-block-start: 0;
    }
    .hero-content h3{
        margin: 0;
        font: var(--headLine5);
    }
    .hero-content span{
        font: var(--body2-regular);
        color: var(--grey);
    }
    .press{
        grid-row-start: initial;
        background: linear-gradient(to bottom, transparent 0%, transparent 50%, #E8E8E6 50%, #E8E8E6);
    }
    .press-image{
        max-inline-size: 22.5rem;
        max-block-size: 12.6875rem;
    }
    .press-image img{
        inline-size: 100%;
    }
    .press-logo{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-block-start: 2.75rem;
        margin-block-end: 0;
        gap: 1.5rem;
        block-size: fit-content;
    }
    .press-text h2{
        font: var(--headLine5);
        margin: 0;
    }
    .press-text span{
        font: var(--body2-regular);
        margin: 0;
    }

    .sticky{
        position: initial;
        grid-area: initial;
        text-align: center;
        margin-block-start: calc(var(--phoneBlockSize) / 2 * -1);
        block-size: var(--phoneBlockSize);
        background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, white 50%, white);
    }
    .sticky img{
        max-block-size: 100%;
    }
    .sticky-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-block: 0;
        margin-block: 0;
        block-size: var(--phoneBlockSize);
        background: #E8E8E6;
    }
    .sticky-mobile img{
        max-block-size: 100%;
    }

      /* ARREGLAR! */
    .transactions{
        margin-block-end: 8.625rem;
        border: 1px solid red;
    }
    .transactions-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block-start: 4rem;
        margin-block-end: 8.625rem;
    }
    .transactions-content .sticky-mobile,
    .trackPackages .sticky-mobile{
        background: transparent;
        margin-inline-start: -1.875rem;
    }
    .transactions-content span{
        margin-block-end: 4rem;
    }
      /* ARREGLAR! */


    .trackPackages-content{
        margin-block-end: 3.5rem;
    }
    .trackPackages-content span{
        margin-block-end: 4rem;
    }


    .login-content .login-image{
        inline-size: 20rem;
        order: 2;
    }
    .login-image img{
        max-inline-size: 100%;
    }
    .login-content{
        margin-block-end: 4rem;
    }
    

    
    
    .header nav{
        display: none;
    }
    .header button{
        display: none;
    }

}


.grid section{
    grid-column: 1 / -1;
}


.inset-grid{
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    grid-template-areas: '. . content .';
}

.inset-grid [class*="content"]{
    grid-area: content;
    margin-inline-start: 1.875rem;
}

/* [class*="content"] este es un selector de atributo que hace que cualquier cosa que contenga la palabra "content" en su clase, se le apliquen estos estilos (sin inportar si es hero-content o ejemplo-content, con solo contener la palabra que pongamos entre comillas, se aplicara). */