.press{
    background-color: white;
}

.press-content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.press-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 2.75rem;
    margin-block-end: 4rem;
    gap: 1.5rem;
    block-size: fit-content;
}

.press-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-inline-size: 38.125rem;
    margin-block-end: 7.75rem;
}

/* .press-text h2{
    font: var(--headLine2);
    margin: 0;
} */
.press-text span{
    font: var(--body1-regular);
    color: var(--grey);
    max-inline-size: 36.25rem;
}

.press-image{
    display: flex;
    max-inline-size: 54.75rem;
    min-inline-size: 15rem;
    inline-size: 100%;
    margin: auto;
    block-size: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.press-image img{
    inline-size: 100%;
    block-size: auto;
}