.sticky{
    position: sticky;
    inset-block-start: 212px;
    grid-area: phone;
}

.sticky img{
    max-inline-size: 100%;
}

.sticky-mobile{
    display: none;
    /* inset-block-start: 212px; */
    grid-area: phone;
}