.trackPackages{
    background: var(--black);
}

.trackPackages-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
    max-inline-size: 28.625rem;
    margin-block-start: 12.5rem;
    margin-block-end: 21.6875rem;
}

.trackPackages-content span{
    color: var(--white);
}

/* .line::before{
    content: '';
    position: absolute;
    width: 896px;
    height: 40px;
    right: 0;
    top: 3350px;
    background: #E8E8E8;
}

.line::after{
    content: '';
    position: absolute;
    width: 741px;
    height: 40px;
    right: 480px;
    top: 3350px;
    background: #2FB464;
    border-radius: 100px;
} */